*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Ubuntu"), local("Segoe UI"), local("Roboto"), local("DroidSans"), local("Tahoma");
}

body {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #DAE9F9;
  font-family: "system", sans-serif;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 10em;
  width: 60%;
}

.screen {
  width: 375px;
  height: 97vh;
  position: relative;
  background-color: white;
  max-width: 100%;
  overflow: hidden;
}

.status-bar img{
  width: 100%;
}

.nav-bar {
  width: 100%;
  height: 6.5vh;
  position: relative;
  background-color: white;
  filter: drop-shadow(0 1px 1px gray);
}

#back-arrow {
  width: 2vh;
}

.nav-bar img {
  position: absolute;
  margin: 2.3vh;
}

.nav-bar h1 {
  font-size: 2.4vh;
  font-weight: 600;
  color: black;
  margin: 2vh auto 2vh 3.6vh;
  letter-spacing: 0.2vh;
  display: inline-block;
}

.nav-bar h2 {
  font-size: 2vh;
  margin: 2.3vh auto 2vh 4vh;
  padding-left: 0.8vh;
  display: inline-block;
}

.map-box {
  width: 100%;
  position: relative;
  filter: drop-shadow(0 1px 2px gray);
}

#map {
  filter: grayscale(40%);
}

.compass {
  width: 5vh;
  position: absolute;
  display: flex;
  top: 37vh;
  left: 48vh;
  z-index: 2;
}

.bus-stop {
  width: 3vh;
  position: absolute;
  display: flex;
  top: 4vh;
  left: 42vh;
  z-index: 2;
}

.destination {
  width: 4vh;
  position: absolute;
  display: flex;
  top: 30vh;
  left: 15vh;
  z-index: 3;
}

.current-location {
  width: 4vh;
  position: absolute;
  display: flex;
  top: 11vh;
  left: 40vh;
  z-index: 3;
}

.walk {
  width: 1.9vh;
  position: absolute;
  display: flex;
  top: 6.4vh;
  left: 42vh;
  z-index: 1;
}

.ride {
  width: 28.5vh;
  position: absolute;
  display: flex;
  top: 2.2vh;
  left: 14.75vh;
  z-index: 1;
}

.bus-container {
  overflow: scroll;
  height: 45%;
  position: relative;
}

.route-type {
  width: 100%;
  min-height: 5.5vh;
  background-color: black;
  display: inline-block;
}

.route-type h1 {
  font-size: 2.4vh;
  font-weight: 300;
  color: white;
  display: inline-block;
  margin: 1.4vh auto 1vh 1.8vh;
  letter-spacing: 0.1vh;
}

/*Individual Bus Lines*/
.bus-line {
  width: 100%;
  min-height: 10vh;
  background-color: #fbf9ff;
  border-bottom: 1px solid darkGray;
  display: inline-block;
  vertical-align: top;
}

.bus-line:hover {
  background-color: #c1e2f2;
  border-bottom: 0;
  filter: drop-shadow(0 0.5px 1px gray);
  z-index: 1;
}

/* Bus number and styling*/

.bus-number {
  float: left;
  border: 1px solid #6d9df2;
  border-radius: 12%;
  padding: 3%;
  width: 8.3vh;
  text-align: center;
  margin: 0.4vh auto auto 3vh;
  background-color: #DAE9F9;
  filter: drop-shadow(0 1px 1px gray);
}

.bus-number h1 {
  font-size: 2.4vh;
  font-weight: 600;
  color: black;
  letter-spacing: 0.1vh;
}

/*Bus Line Names*/
.bus-line h2 {
  font-size: 2.5vh;
  font-weight: 700;
  color: black;
  margin: 2.2vh auto 1.5vh 15.5vh;
  letter-spacing: 0.1vh;
  width: 36%;
}

/*Bus Directions and Status*/
.bus-line h3 {
  font-size: 1.6vh;
  font-weight: 300;
  color: white;
  text-align: left;
  width: 13vh;
  margin: auto auto auto 15.5vh;
  letter-spacing: 0.1vh;
  padding: 0.4vh;
  border-radius: 5%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#reroute {
  background: rgb(64,13,13);
  background: linear-gradient(90deg, rgba(64,13,13,1) 0%, rgba(210,100,0,1) 50%, rgba(255,162,32,1) 100%);
}

#changes {
  background: rgb(50,0,0);
  background: linear-gradient(90deg, rgba(50,0,0,1) 0%, rgba(144,4,4,1) 35%, rgba(251,93,93,1) 100%);
}

/* arrival time */
.bus-time h4 {
  width: 30%;
  margin: 0 auto auto 36.5vh;
  font-size: 2.8vh;
  letter-spacing: 0.2vh;
  vertical-align: top;
}

span {
  font-size: 2.1vh;
}

#resumes {
  width: 20%;
  margin: 2vh auto 1vh 36.5vh;
}

/* frequency */
.bus-time h5 {
  float: right;
  margin: auto 5vh 1vh 36.5vh;
  font-size: 1.5vh;
}

.bus-time img {
  float: right;
  margin: auto 2.5vh 1vh 50.5vh;
}
